*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
}
section::before{
    content: "";
    position: fixed;
    left: 0;
    width: 100%;
    background: red;
    clip-path: circle(65% at 100% -20%);
}
section::after{
    content: "";
    position: fixed;
    left: 0;
    width: 100%;
    background: skyblue;
    clip-path: circle(35% at 0% 100%);
}
.container{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    width: 32px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px );
}
.container .card .imgBx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5% ease-in-out;
}
.container .card:hover .imgBx{
    transform: translateY(-100px);
}
.container .card .imgBx img{
    max-width: 100%;
    margin: 0 0 20px ;
    transition: 0.5% ease-in-out;
}
.container .card:hover .imgBx img{
    transform: translate(-20px, -40px) rotate(-25deg) scale(1.4);
}
.container .card:hover .imgBx h1{
    
}